.vscode

mainSketch
bDebug
bRelease
unitTesting/unitTests
.cache
unitTesting/compileResults.txt
root
envSetupKillMe.sh
gptResponseROOTSFMLBridge.txt
getVideoTest
rootLinkFlags.txt
threadTest
getVideoTestFast11212
getVideoTestOld
getVideoTestSeq
