.vscode
mainSketch
unitTesting/unitTests
build
.cache
unitTesting/compileResults.txt
root
envSetupKillMe.sh
gptResponseROOTSFMLBridge.txt
getVideoTest
rootLinkFlags.txt
threadTest
getVideoTestFast11212
getVideoTestOld
getVideoTestSeq
